<div class="card">
    <div class="card-header">
        <div class="row ml-1">
            <div class="col">@Item?.DrinkName</div>
            <div class="col">
                <div class="ms-auto float-end">@Item?.Alcoholic</div>
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-sx-6 col-sm-4">
                <img class="img-fluid" src="@(Item?.ImageSource ?? Item?.ThumbUrl ?? "/img/nope-not-here.webp")" />
            </div>
            <div class="col-sx-6 col-sm-8">
                <ul>
                    @foreach (var ingredient in Item?.Ingredients ?? Enumerable.Empty<string>())
                    {
                        <li>@ingredient</li>
                    }
                </ul>
            </div>
        </div>
        <div class="row">
            <p class="col">@Item?.Instructions</p>
        </div>
    </div>
    <div class="card-footer">
        <div class="float-end">
            @* <button class="btn btn-primary" @onclick="()=>ModalInstance.CloseAsync(ModalResult.Ok(Item))">Select</button> *@
            <button class="btn btn-secondary" @onclick="()=>ModalInstance.CancelAsync()">Close</button>
        </div>
    </div>
</div>


@code {

    [CascadingParameter]
    public BlazoredModalInstance ModalInstance { get; set; } = default!;

    [Parameter]
    public DrinkItemViewModel Item { get; set; } = default!;

}
