@page "/drinkoverview"
@using ChoseYourDrink.Services
@inject IDrinkService drinkService;
@inject NavigationManager NavigationManager;

<PageTitle>DrinkOverview</PageTitle>

<h3>DrinkOverview</h3>

<p>
    @foreach (var drink in _drinks)
    {
        <div class="btn btn-primary m-2" @onclick="()=>NavigateToDrinkCategory(drink)">@drink.StrCategory</div>
    }
</p>

@if (!_isLoading)
{
    <p>Selected category: @_selectedDrinkCategory?.StrCategory</p>

    <p class="row">
        @foreach (var drink in _drinkItems)
        {
            <DrinkItem Item="drink" @onclick="()=>ShowDetail(drink)" />
        }
    </p>
}
else
{
    <p>Loading...</p>
}

@code {

    private List<DrinkCategoryViewModel> _drinks = new List<DrinkCategoryViewModel>();

    private DrinkCategoryViewModel? _selectedDrinkCategory = null;

    private List<DrinkItemViewModel> _drinkItems = new List<DrinkItemViewModel>();

    private DrinkItemViewModel? _selectedDrinkItem = null;

    private bool _isLoading = false;

    [CascadingParameter]
    public IModalService Modal { get; set; } = default!;

    protected override async Task OnInitializedAsync()
    {
        var drinks = await drinkService.GetCategoriesAsync();
        Console.WriteLine(drinks);
        _drinks = drinks?.OrderBy(x => x.StrCategory).ToList() ?? new List<DrinkCategoryViewModel>();
    }

    private async void NavigateToDrinkCategory(DrinkCategoryViewModel drinkCategory)
    {
        _isLoading = true;
        _drinkItems?.Clear();

        IEnumerable<DrinkItemViewModel> drinks = await drinkService.GetDrinksByCategoryAsync(drinkCategory);

        _drinkItems = drinks?.OrderBy(x => x.DrinkName).ToList() ?? new List<DrinkItemViewModel>();

        _selectedDrinkCategory = drinkCategory;
        _isLoading = false;
        StateHasChanged();
    }
    private async Task ShowDetail(DrinkItemViewModel drinkItem)
    {
        DrinkItemViewModel item = await drinkService.GetDrinkDetailsAsync(drinkItem.DrinkId);

        _selectedDrinkItem = item;

        var paramerters = new ModalParameters().Add("Item", item);
        var options = new ModalOptions() { Size = ModalSize.Large };

        var detailForm = Modal.Show<DrinkItemDetail>(paramerters, options);
        var result = await detailForm.Result;
    }
}
